* {
  box-sizing: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}


.newsSNS {
    display: grid; 
    grid-template-columns: 70% 30%;
  }


.members {
  background-color: #FDF5F3;
}

.bottom {
  background-color: #D7D4C2;
}