.bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D7D4C1;
}


.cafeImg {
    display: flex;
    justify-content: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.cafeTxt {
    color: black;
    text-align: center;
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-weight: bold;
}

.copyright {
    display: flex;
    justify-content: center;
    color: darkblue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

/* PC-lg */
@media (min-width: 1280px) {
    .cafeTxt {
        font-size: 1vw;
    }
}