.container {
  display: flex;
}

.headerImg {
    width: 100%;
}

.alertImg {
  display: block;
  margin-left: -850px;
  margin-top: 900px;
  z-index: 1;
  transform: scale(1.5);
}


@media (min-width: 1920px) {
  .container {
    height: 1080px;
  }
}