
.membersSection {
    display: flex;
    background-color: #FDF5F3;
    align-items: center;
    justify-content: center;
}


.memberContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.memberContainer > div:last-child {
    padding-right: 85vh;

}


.memberProfile {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 100px;
}

.withImg {
    display: flex;
    flex-direction: row;
}


.sideDetails {
    width: 35vh;
    margin-right: -250px;
}

.bottomDetails {
    margin-left: -140px;
}

.withImg .bottomDetails {
    margin-top: auto;
}

.memberImg {
    margin-bottom: -50px;
    margin-left: 40px;
    transform: scale(1.1);
}

.eriko {
    color: #005598;
}
.erikoBackground {
    background-color: #005598;
}

.ramune {
    color: #FFB3A9;
}
.ramuneBackground {
    background-color: #FFB3A9;
}
.ramuneColorBadge {
    background-color: #FCD9D5;
    color: white;
    border-radius: 50px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;

}

/*member colors*/

.mio {
    color: #8ECAE5;
}
.mioBackground {
    background-color: #8ECAE5;
}

.mikan {
    color: #E70046;
}
.mikanBackground {
    background-color: #E70046;
}

.nana {
    color: #E1CD00;
}
.nanaBackground {
    background-color: #E1CD00;
}

.satomi {
    color: #DD6299;
}
.satomiBackground {
    background-color: #DD6299;
}

.momomi {
    color: #EDA7BF;
}
.momomiBackground {
    background-color: #EDA7BF;
}

.keina {
    color: #6F98CF;
}
.keinaBackground {
    background-color: #6F98CF;
}

.airi {
    color: #11B6CA;
}
.airiBackground {
    background-color: #11B6CA;
}

/**/

.memberName {
    font-size: 30px;
}

.normalTxt {
    color: #5E5956;
    font-size: 15px;
}

.memberHobby {
    color: #0B2D4F;
    font-size: 20px;
}

.colorBadge {
    background-color: white;
    border-radius: 50px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;  
}

.box4 {
    display: inline-block;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: bold; 
    width:70px;
    height: 20px;
    font-size: 13px;
    margin-bottom: -20vh;
}

h4 {
        padding: 15px;
        color:#5E5956;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: -20px;
        margin-top: -10px;
}
.normal4 {
    padding: 20px;
    color:#5E5956;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: -20px;
    margin-top: -10px;
}