.musicBanner {
    display: grid;
    grid-template-columns: 48% 54%;
    justify-items: center;
    align-items: center;
    background-color: #FDF5F3;
    margin-bottom: 60px;
    margin-left: 150px;
    margin-right: 150px;
}
