.eventsSection {
    margin-left: 100px;
    margin-right: 100px;
}

.postDate {
    display: flex;
    flex-direction: row;
}

.new {
    color: white;
    background-color: #FD6251;
    display: inline;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -5px;
}

.schedules {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.pastContainer {
    background-color: #F3F2ED;
    margin-left: 140px;
    margin-right: 140px;
}

/* .decorationTop {
    background-color: #E1E1E1;
    height: 3px;
    border-radius: 3px;
    margin-top: -55px;
    margin-bottom: 40px;
    z-index: -1;
} */

.decorationBottom {
    background-color: #E1E1E1;
    height: 3px;
    border-radius: 3px;
    margin-top: 45px;
}