.naviBar {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    position: relative;
    z-index: 1;
  }
  
  nav {
    display: flex;
  }
  
  .burgermenu {
    height: 100%;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .burgerImg {
    height: 70%;
    width: 110%;
  }
  
  .menu {
    width: 10em;
    margin-right: 23em;
    background-color: white;
    opacity: 90%;
    position: absolute;
    top: 100%; /* Position dropdown below the burger menu */
    right: 0; /* Align dropdown to the right */
    z-index: 2; /* Ensure dropdown is above navi bar */
    padding: 1em;
    display: none; /* Initially hide the menu */
  }
  
  .visible {
    display: block; /* Show the menu when 'visible' class is applied */
  }
  
  .dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    padding: 0.5em 0;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }